td xml/public_html/bibliotheque.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT bibliotheque (allee+)>
<!ELEMENT rayon (ouvrage*)>
<!ELEMENT allee (rayon+)>
<!ELEMENT ouvrage (titre,auteur?,numero?)>
<!ELEMENT numero (#PCDATA)>
<!ELEMENT auteur (#PCDATA)>
<!ELEMENT titre (#PCDATA)>

<!ATTLIST rayon numero CDATA #REQUIRED>
<!ATTLIST allee numero CDATA #IMPLIED>
<!ATTLIST ouvrage type (litterature |manuelScolaire| scienceEtTechnique| periodique) "litterature">

